<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4">

      <div id="flash-messages"><%= flash_messages %></div>
      <%= form_tag do %>

          <h2>Please Log In</h2>

          <div class="form-group">
            <%= label_tag :name, 'Name:' %>
            <%= text_field_tag :name, params[:name], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :password, 'Password:' %>
            <%= password_field_tag :password, params[:password], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Login", class: "btn btn-primary" %>
          </div>

      <% end %>

    </div>
  </div>
</div>