<div class="row">
  <div class="col-md-4">
    <%= form_for @advertisement, html: { multipart: true } do |f| %>
      <% if @advertisement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

          <ul>
          <% @advertisement.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :image %><br>
        <%= f.file_field :image %>
      </div>
      <div class="form-group">
        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>