<div class="container">
	<div class="row">
		<div id="flash-messages"><%= flash_messages %></div>

		<p>
		  <strong>Title:</strong>
		  <%= @advertisement.title %>
		</p>

		<p>
		  <strong>Image url:</strong>
		  <%= @advertisement.image_url %>
		</p>

		<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
		<%= link_to 'Back', advertisements_path %>
	</div>
</div>