<% if flash_messages %>
  <div id="flash-messages"><%= flash_messages %></div>
<% end %>
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Listing Categories</h2></div>
      <div class="table-responsive">
      <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    

    
</div>
<%= link_to 'New Category', new_category_path, class: "btn btn-default" %>
</div>