<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>

  <li class="list-group-item">
	  <%= line_item.product.title %>
	  <%= number_to_currency(line_item.total_price) %>
	  <span class="badge"><%= line_item.quantity %></span>
	  <span class="item-right">
	    <%= button_to 'x', line_item, method: :delete, class: "btn btn-xs btn-danger" %>
	  </span>
  </li>

<!--<%= sprintf("%2d x %s",
            line_item.quantity,
            truncate(line_item.product.title, length: 50)) %>-->