<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="container" id="store-container">
<%= render "carousel" %>
	<h1> Catalog  </h1>
	<%= form_tag(store_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
        <%= submit_tag "Search" %>
    <% end %>
	<ul class="flex-container">
		<% cache ['store', Product.latest] do %> 
		  <% @products.each_with_index do |product, index| %>
			  <% cache ['flex-item', product] do %>
				
				  <li class="flex-item">
				    <%= image_tag(product.image_url, class: "img-rounded") %>
				    <h4><%= product.title %></h4>
				    <p><%= sanitize(product.description) %></p>
				    
				      <span class="price"><%= number_to_currency(product.price) %></span>
				      <div id="add-button"><%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true, class: "btn btn-xs btn-default" %></div>
				    
				  </li>
				
			  <% end %>
			  
		  <% end %>
		<% end %>
	</ul>
</div>
