<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="container" id="store-container">
<%= render "carousel" %>
<h1>Catalog</h1>
	<div class="row" id="search-row">
		<div class="col-md-offset-9 col-md-3">
			<div id="search-form">
				<%= form_tag(store_path, :method => "get", id: "search-form") do %>
		        <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
		        <%= submit_tag "Search" %>
		    <% end %>
			</div>
		</div>
	</div>
	<div id="catalog-products"><%= render 'store/flex_container' %></div>
</div>
