<div class="container" id="store-container">
	<% if flash_messages %>
	<div id="flash-messages"><%= flash_messages %></div>
	<% end %>

	<%= render "navbar_store" %>
	<%= render "carousel" %>
	<h1>Catalog</h1>
		<div class="row" id="search-row">
			<div class="col-md-offset-9 col-xs-offset-2 col-md-3 col-xs-8">
				<div id="search-form">
					<%= form_tag(store_path, :method => "get", id: "search-form", class: "form-inline") do %>
			        <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control" %>
			        <%= submit_tag "Search", class: "btn btn-sm btn-primary" %>
			    <% end %>
				</div>
			</div>
		</div>


		<ul class="flex-container" id="li_id">
			
		</ul>
		
		<% if @products.present? and params[:search].present? %>
		<ul class="flex-container">

		<%= render 'store/search_results' %>
		</ul>
		<% else %>
			<% @categories.each do |category| %>
			<h2><%= category.name %></h2>
				
			<ul class="flex-container">
				<%= render category.products %>
			</ul>
				
			<% end %>

	
		<% end %>
	
			
</div>
