<div class="container" id="store-container">
	<% if flash_messages %>
	<div id="flash-messages"><%= flash_messages %></div>
	<% end %>
	<%= render "navbar_store" %>
	<ul class="nav nav-pills">
	<% @categories.each do |category| %>
    <li role="presentation"><%= link_to category.name, store_category_path(category) %></li>
     <% end %>
	</ul>

		<ul class="flex-container" id="li_id">
			
		</ul>
		
		<% if @products.present? and params[:search].present? %>
		<ul class="flex-container">

		<%= render 'store/search_results' %>
		</ul>
		<% else %>
			
					<div class="row" id="search-row">
			<div class="col-md-offset-9 col-xs-offset-2 col-md-3 col-xs-8">
				<div id="search-form">
					<%= form_tag(store_path, :method => "get", id: "search-form", class: "form-inline") do %>
			        <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control" %>
			        <%= submit_tag "Search", class: "btn btn-sm btn-primary" %>
			    <% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-3">	
				<div class="product_show_image"><%= image_tag @product.image.url(:large), class: 'img-rounded' %></div>
			</div>
			<div class="col-md-3">
				<p><strong>Title:</strong><%= @product.title %></p>
				<p><strong>Description:</storeong><%= @product.description %></p>
				<p><strong>Price:</strong><%= number_to_currency(@product.price) %></p>
				<div id="add-button"><%= button_to 'Add to Cart', line_items_path(product_id: @product), remote: true, class: "btn btn-sm btn-success" %></div>
  			</div>
  		</div>
		
		<% end %>
		<br>
		<br>
		<br>
		<br>
			
</div>
